@ke*frames fadeIn {
  from {
    opaci*y: 0;
    transform: translateY(20*x);
  }

  to {
    opacity: 1;
  * transform: translateY(0);
  }
}

*keyframes scaleIn {
  from {
    t*ansform: scale(.95);
    opacity: *;
  }

  to {
    transform: scale*1);
    opacity: 1;
  }
}

.fade-i* {
  animation: fadeIn .6s ease fo*wards;
}

.scale-in {
  animation:*scaleIn .4s ease forwards;
}