:root {
  --color-primary: #ee318ff5;
  --color-primary-dark: #9c1c8b;

  --color-secondary: #e9ade1;
  --color-secondary-dark: #1b3c6d;

  --color-accent: #3a82e0;

  --color-bg: #fffdf9;
  --color-surface: #ffffff;

  --color-text: #b8af61;
  --color-text-soft: #130b08;

  --shadow-sm: 0 2px 8px rgba(0, 0, 0, .05);
  --shadow-md: 0 8px 20px rgba(0, 0, 0, .08);
  --shadow-lg: 0 20px 40px rgba(0, 0, 0, .12);

  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;

  --container-width: 1280px;

  --transition-fast: .2s;
  --transition-base: .3s;
}

[data-theme="dark"] {
  --color-bg: #151515;
  --color-surface: #1f1f1f;
  --color-text: #f5f5f5;
  --color-text-soft: #bdbdbd;
}